{%- extends '@WexBaseBundle/Resources/templates/bases/base.html.twig' -%}

{%- import '@WexBaseBundle/Resources/templates/macros/assets.html.twig' as macro_assets -%}

{%- block template_config -%}
    {{ parent() }}
    {{- assets_init_template(template_name, layout_use_js) -}}
    {{- translation_set_domain_from_path('layout', 'layouts/' ~ layout_name) -}}
{%- endblock -%}

{%- block template_base -%}
    {{- parent() -}}

    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8"/>
        <title>{{ template_head_title ? (template_head_title | trans(template_head_title_args)) ~ ' | ' : '' }}{{ 'common.app::name' | trans }}</title>
        {%- block preloads -%}
            {%- for asset in assets_preload_list('css') -%}
                <link rel="preload" href="{{ asset.path }}" as="{{ asset.preloadAs }}">
            {%- endfor -%}
        {%- endblock -%}

        {%- block styles -%}
            {{ macro_assets.render_available_css(layout_use_js) }}
        {%- endblock -%}
        {%- if layout_use_js -%}
            <script nonce="layout-init">
              "use strict";

              // Use old school fashioned javascript notation to improve compatibility.
              var AppRegistryBundlesManager = function AppRegistryBundlesManager() {
                this.classes = {};
              };

              AppRegistryBundlesManager.prototype = {
                add: function add(id, definition) {
                  // Prevent class override.
                  if (!this.classes[id]) {
                    this.classes[id] = definition;
                  }

                  var app = window.app;

                  if (!app.hasCoreLoaded) {
                    // Wait app launch to play with assets methods.
                    app.bootJsBuffer.push(id);
                  } else {
                    // Mark now that class is loaded.
                    app.services.assets.jsPendingLoaded(id);
                  }

                  // Return to allow export or extending class.
                  return definition;
                }
              };

              window.appRegistry = {bundles: new AppRegistryBundlesManager()};

            </script>
            <style>
                .layout-loading {
                    display: none;
                }
            </style>
        {%- endif -%}
        {%- block meta -%}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ (meta_description|default('@layout::meta.description')) | trans }}">
        {%- endblock -%}
    </head>
    <body class="theme-{{ layout_theme }} {{ body_class|default('') }}">
    <div id="layout" class="layout-loading {{ layout_class|default('') }}">
        {%- if layout_use_js -%}
            {#- If javascript fails to complete, force removing loading state after 2 seconds.  -#}
            <script nonce="layout-loading">
              var elLayout = document.getElementById('layout');
              elLayout.classList.add('layout-loading');

              setTimeout(function () {
                elLayout.classList.remove('layout-loading');
              }, 2000);
            </script>
        {%- endif -%}

        {%- block layout -%}
            {%- block layout_composer_html -%}
                {%- block page -%}
                    <div class="page">
                        {%- block page_composer_html -%}
                            {{- block('page_body') -}}
                        {%- endblock -%}
                    </div>
                {%- endblock -%}
            {%- endblock -%}
        {%- endblock -%}

        <div id="layout-components">
            {{ com_render_layout() | raw }}
        </div>

        <div id="vue-templates">

        </div>
    </div>

    {%- block template_assets -%}
        {{ macro_assets.render_available_css(layout_use_js) }}

        {%- if layout_use_js -%}
            <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
            {{ macro_assets.render_available_js() }}
            <script type="text/javascript" nonce="layout-data">
              window.appRegistry.layoutData = {{ template_build_initial_layout_render_data(template_name, layout_theme) | json_encode(constant('JSON_PRETTY_PRINT')) | raw }};
            </script>
        {%- endif -%}
    {%- endblock -%}
    </body>
    </html>
{%- endblock -%}
