{%- extends 'layouts/public.html.twig' -%}

{%- set template_path = _self -%}

{%- block template_config -%}
    {{ js_var('demoVariable', 'demoVariableValueOverridden') }}
    {{ js_var('demoVariable', 'demoVariableValue') }}
    {{ js_var('demoVariableBoolean', true) }}
    {{ js_var('demoVariableInteger', 123) }}
    {{ js_var('demoVariableFloat', 123.456) }}
{%- endblock -%}

{%- block page_content_body -%}
    <div class="inline-infos theme-dark">
        <div class="info">
            {{ '@page::infos.template_name' | trans }} : <b>{{ template_name }}</b>
        </div>
        <div class="info">
            {{ '@page::infos.layout_name' | trans }} : <b>{{ layout_name }}</b>
        </div>
    </div>
    <h2>{{ '@page::breakpoints.title' | trans }}</h2>
    <div class="blocks blocks-no-stretch blocks-side-column-left">
        <div class="blocks-col">
            {% for name,sizeMin in displayBreakpoints %}
                <div class="inline-infos display-breakpoint display-breakpoint-{{ name }}">
                    <div class="pill size-name">{{ name }}</div>
                    <div class="size-min">{{ sizeMin }}px</div>
                </div>
            {% endfor %}
        </div>
        <div class="block theme-dark">
            {{ '@page::breakpoints.body' | trans | raw }}
            <br>
            <br>
            {{ ('@page::breakpoints.body_' ~ (layout_no_js ? 'no_' : '') ~ 'js') | trans | raw }}
        </div>
    </div>
    <h2>{{ '@page::resources.title' | trans }}</h2>
    <div class="block theme-dark">
        {{ ('@page::resources.body_' ~ (layout_no_js ? 'no_' : '') ~ 'js') | trans | raw }}
    </div>
    {% if not layout_no_js %}
        <div class="blocks">
            <div class="block">
                <ul id="loaded-assets-list-css"></ul>
            </div>
            <div class="block">
                <ul id="loaded-assets-list-js"></ul>
            </div>
        </div>
        <div class="block theme-dark">
            {{ '@page::resources.body_available' | trans | raw }}
        </div>
        <div class="blocks">
            <div class="block">
                <ul id="loaded-assets-list-css-available"></ul>
            </div>
            <div class="block">
                <ul id="loaded-assets-list-js-available"></ul>
            </div>
        </div>
    {% endif %}
{%- endblock -%}