{%- extends '@WexBaseBundle/Resources/templates/layouts/test.html.twig' -%}

{%- block layout_config -%}
    {{ parent() }}
    {{- var_js('layoutLevelTestVar', 'value') -}}
{%- endblock -%}

{%- block page_config -%}
    {{ parent() }}
    {{- var_js('pageLevelTestVar', 'value') -}}
{%- endblock -%}

{%- block page_body -%}
    <div class="test-string">ADAPTIVE</div>
    <ul>
        <li><span class="adaptive-page-test-class">CSS</span> example</li>
        <li>{{ component('components/test-component', {testOption:true}) }}</li>
        <li>{{ vue('vue/test-vue', {testOption:true}) }}</li>
    </ul>
{%- endblock -%}