{%- extends '@WexBaseBundle/Resources/templates/layouts/test.html.twig' -%}

{%- block layout_config -%}
    {{ parent() }}
    {{- js_var('layout_level_test_var', 'value') -}}
{%- endblock -%}

{%- block page_config -%}
    {{ parent() }}
    {{- js_var('page_level_test_var', 'value') -}}
{%- endblock -%}

{%- block page_body -%}
    <div class="test-string">ADAPTIVE</div>
    <ul>
        <li>{{ component('components/test-component', {testOption:true}) }}</li>
        <li>Test vue</li>
    </ul>
{%- endblock -%}