{%- extends '@WexBaseBundle/Resources/templates/layouts/test.html.twig' -%}

{%- block layout_config -%}
    {{ parent() }}
    {{- var_js('initialLayoutVar', true) -}}
    {{- var_js('enableAggregation', render_pass.enableAggregation) -}}
    {{- trans_js('@layout::string.client_side') -}}
{%- endblock -%}

{%- block page_config -%}
    {{ parent() }}
    {{- var_js('initialPageVar', true) -}}
    {{- var_js('demoVariableBoolean', true) -}}
    {{- var_js('demoVariableInteger', 123) -}}
    {{- var_js('demoVariableFloat', 12.3) -}}
    {{- var_js('demoVariableObject', {testVar:'test'}) -}}
    {{- trans_js('@page::firstGroup.*') -}}
    {{- trans_js('@page::secondGroup.first') -}}
{%- endblock -%}

{%- block page_body -%}
    <div class="test-string">TESTS PAGE</div>
    <div id="test-layout-translation">{{ '@layout::secondGroup.first' | trans }}</div>
    <div id="test-layout-component">{{ component('components/test-component', {testOption:true}) }}</div>
    <div id="test-playground"></div>
    <div id="test-color-scheme">
        <div id="test-color-scheme-zone-one" class="test-color-scheme-zone color-scheme-default">
            <div>IS_COLOR_SCHEME_DEFAULT</div>
            <div id="test-color-scheme-zone-two" class="test-color-scheme-zone color-scheme-dark">
                <div>IS_COLOR_SCHEME_DARK</div>
                <div id="test-color-scheme-zone-three" class="test-color-scheme-zone color-scheme-light">
                    <div>IS_COLOR_SCHEME_LIGHT</div>
                    <div id="test-color-scheme-zone-four" class="test-color-scheme-zone color-scheme-dark">
                        <div>IS_COLOR_SCHEME_DARK</div>
                    </div>
                </div>
                <br>
                <div id="test-color-scheme-zone-five" class="test-color-scheme-zone color-scheme-default">
                    <div>IS_COLOR_SCHEME_DEFAULT</div>
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}