{%- extends '@WexBaseBundle/Resources/templates/layouts/test.html.twig' -%}

{%- block layout_config -%}
    {{ parent() }}
    {{- var_js('initialLayoutVar', true) -}}
{%- endblock -%}

{%- block page_config -%}
    {{ parent() }}
    {{- var_js('initialPageVar', true) -}}
    {{- trans_js('@page::firstGroup.*') -}}
    {{- trans_js('@page::secondGroup.first') -}}
{%- endblock -%}

{%- block page_body -%}
    <div class="test-string">TESTS PAGE</div>
    <div id="test-layout-translation">{{ '@layout::secondGroup.first' | trans }}</div>
    <div id="test-playground"></div>
{%- endblock -%}